<div class="task-details">
    <h2>Dettagli del Task</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Titolo</mat-label>
        <input matInput placeholder="Titolo del task" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Descrizione</mat-label>
        <textarea matInput placeholder="Descrizione del task"></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Salva</button>
      <button mat-button color="warn" routerLink="/tasks">Annulla</button>
    </form>
  </div>